@charset "utf-8";

@font-face {
  font-family: "Grandstander";
  src: url("../fonts/Grandstander/static/Grandstander-Regular.ttf") format("truetype");
}

$body-family: "Grandstander", sans-serif;
$link: #94904a;
$body-background-color: #333;
$body-size: 20px;

@import "../vendor/bulma/sass/utilities/_all.sass";
@import "../vendor/bulma/sass/base/_all.sass";

.background {
  width: 100%;
  height: 100%;

  background-image: url("/uploads/bg.jpg");
  background-position: center;
  background-size: cover;
  filter: brightness(0.5);

  position: fixed;
  top: 0%;
  left: 0%;
}

@import "../vendor/bulma/sass/layout/hero.sass";
@import "../vendor/bulma/sass/elements/container.sass";

// Site image

.site-image {
  margin-bottom: 1em;
}

.site-image img {
  width: 15em;
  max-width: 80vw;
}

// Links

@import "../vendor/bulma/sass/components/panel.sass";
@import "../vendor/bulma/sass/helpers/typography.sass";

.panel {
  max-width: 50ex;

  background-color: rgba(#fff, 0.8);

  margin-right: auto;
  margin-left: auto;
}

.panel-block {
  word-break: break-word;
}

.panel-icon {
  font-size: 1em;
}

.panel-footer {
  font-size: 0.6em;
  opacity: 0.7;
  padding: 1em;
}

/* Privacy alert */

@import "../vendor/bulma/sass/elements/other.sass";
@import "../vendor/bulma/sass/components/message.sass";
@import "../vendor/bulma/sass/helpers/other.sass";

.privacy-alert {
  width: 100%;

  position: fixed;
  left: 0%;
  bottom: 0%;
}

