/* Background */
.chroma {
  background-color: var(--code-background);
  color: var(--code-color);
}

/* LineHighlight */
.chroma .hl {
  width: 100%;

  background-color: var(--code-hl-background);
  display: block;
}

/* Error */
.chroma .err {
  background-color: var(--code-err-background);
  color: var(--code-err-color);
}

/* Keyword */
.chroma .k {
  color: var(--code-k-color);
}

/* KeywordConstant */
.chroma .kc {
  color: var(--code-kc-color);
}

/* KeywordDeclaration */
.chroma .kd {
  color: var(--code-kd-color);
}

/* KeywordNamespace */
.chroma .kn {
  color: var(--code-kn-color);
}

/* KeywordPseudo */
.chroma .kp {
  color: var(--code-kp-color);
}

/* KeywordReserved */
.chroma .kr {
  color: var(--code-kr-color);
}

/* KeywordType */
.chroma .kt {
  color: var(--code-kt-color);
}

/* Name */
.chroma .n {
  color: var(--code-n-color);
}

/* NameAttribute */
.chroma .na {
  color: var(--code-na-color);
}

/* NameBuiltin */
.chroma .nb {
  color: var(--code-nb-color);
}

/* NameBuiltinPseudo */
.chroma .bp {
  color: var(--code-bp-color);
}

/* NameClass */
.chroma .nc {
  color: var(--code-nc-color);
}

/* NameConstant */
.chroma .no {
  color: var(--code-no-color);
}

/* NameDecorator */
.chroma .nd {
  color: var(--code-nd-color);
}

/* NameEntity */
.chroma .ni {
  color: var(--code-ni-color);
}

/* NameException */
.chroma .ne {
  color: var(--code-ne-color);
}

/* NameFunction */
.chroma .nf {
  color: var(--code-nf-color);
}

/* NameFunctionMagic */
.chroma .fm {
  color: var(--code-fm-color);
}

/* NameLabel */
.chroma .nl {
  color: var(--code-nl-color);
}

/* NameNamespace */
.chroma .nn {
  color: var(--code-nn-color);
}

/* NameOther */
.chroma .nx {
  color: var(--code-nx-color);
}

/* NameProperty */
.chroma .py {
  color: var(--code-py-color);
}

/* NameTag */
.chroma .nt {
  color: var(--code-nt-color);
}

/* NameVariable */
.chroma .nv {
  color: var(--code-nv-color);
}

/* NameVariableClass */
.chroma .vc {
  color: var(--code-vc-color);
}

/* NameVariableGlobal */
.chroma .vg {
  color: var(--code-vg-color);
}

/* NameVariableInstance */
.chroma .vi {
  color: var(--code-vi-color);
}

/* NameVariableMagic */
.chroma .vm {
  color: var(--code-vm-color);
}

/* Literal */
.chroma .l {
  color: var(--code-l-color);
}

/* LiteralDate */
.chroma .ld {
  color: var(--code-ld-color);
}

/* LiteralString */
.chroma .s {
  color: var(--code-s-color);
}

/* LiteralStringAffix */
.chroma .sa {
  color: var(--code-sa-color);
}

/* LiteralStringBacktick */
.chroma .sb {
  color: var(--code-sb-color);
}

/* LiteralStringChar */
.chroma .sc {
  color: var(--code-sc-color);
}

/* LiteralStringDelimiter */
.chroma .dl {
  color: var(--code-dl-color);
}

/* LiteralStringDoc */
.chroma .sd {
  color: var(--code-sd-color);
}

/* LiteralStringDouble */
.chroma .s2 {
  color: var(--code-s2-color);
}

/* LiteralStringEscape */
.chroma .se {
  color: var(--code-se-color);
}

/* LiteralStringHeredoc */
.chroma .sh {
  color: var(--code-sh-color);
}

/* LiteralStringInterpol */
.chroma .si {
  color: var(--code-si-color);
}

/* LiteralStringOther */
.chroma .sx {
  color: var(--code-sx-color);
}

/* LiteralStringRegex */
.chroma .sr {
  color: var(--code-sr-color);
}

/* LiteralStringSingle */
.chroma .s1 {
  color: var(--code-s1-color);
}

/* LiteralStringSymbol */
.chroma .ss {
  color: var(--code-ss-color);
}

/* LiteralNumber */
.chroma .m {
  color: var(--code-m-color);
}

/* LiteralNumberBin */
.chroma .mb {
  color: var(--code-mb-color);
}

/* LiteralNumberFloat */
.chroma .mf {
  color: var(--code-mf-color);
}

/* LiteralNumberHex */
.chroma .mh {
  color: var(--code-mh-color);
}

/* LiteralNumberInteger */
.chroma .mi {
  color: var(--code-mi-color);
}

/* LiteralNumberIntegerLong */
.chroma .il {
  color: var(--code-il-color);
}

/* LiteralNumberOct */
.chroma .mo {
  color: var(--code-mo-color);
}

/* Operator */
.chroma .o {
  color: var(--code-o-color);
}

/* OperatorWord */
.chroma .ow {
  color: var(--code-ow-color);
}

/* Punctuation */
.chroma .p {
  color: var(--code-p-color);
}

/* Comments */
.chroma .c,
.chroma .ch,
.chroma .cm,
.chroma .c1,
.chroma .cs,
.chroma .cp,
.chroma .cpf {
  font-style: italic;
}

/* Comment */
.chroma .c {
  color: var(--code-c-color);
}

/* CommentHashbang */
.chroma .ch {
  color: var(--code-ch-color);
}

/* CommentMultiline */
.chroma .cm {
  color: var(--code-cm-color);
}

/* CommentSingle */
.chroma .c1 {
  color: var(--code-c1-color);
}

/* CommentSpecial */
.chroma .cs {
  color: var(--code-cs-color);
}

/* CommentPreproc */
.chroma .cp {
  color: var(--code-cp-color);
}

/* CommentPreprocFile */
.chroma .cpf {
  color: var(--code-cpf-color);
}

/* GenericDeleted */
.chroma .gd {
  color: var(--code-gd-color);
}

/* GenericEmph */
.chroma .ge {
  font-style: italic;
}

/* GenericInserted */
.chroma .gi {
  color: var(--code-gi-color);
}

/* GenericStrong */
.chroma .gs {
  font-weight: bold;
}

/* GenericSubheading */
.chroma .gu {
  color: var(--code-gu-color);
}

